body{
    margin: 0px;
}

.background{
    background: linear-gradient(180deg, #11111f, #36023d);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}   

/* nav */
nav{
    display: flex;
    padding-bottom: 3rem;
    gap: 10vw;
}

.carte{
    background: linear-gradient(180deg, #1f1f3a, #210125);
    display: flex;
    flex-direction : column;
    align-items: center;
    padding: 20px;
    /* height: 50vh; */
    border-radius: 15px;
}

/* connection */
#pageConnection {
    background-color: transparent;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding-top: 20px;
    border: none;
}

#password, #username{
    margin-top: 10px;
    padding: 15px;
    font-size: 16px;
    border: 2px solid #555; 
    border-radius: 10px;
    background-color: #2b2b3e; 
    color: white;
 }


 .activebtn{
    border-bottom: 3px solid rgb(0, 110, 255) !important;
    color: rgb(49, 162, 255) !important;
 }



/* inscription */
#pageInscription {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding-top: 20px;
}

#password21,#password22, #mail, #pseudo, #mail2{
    margin-top: 10px;
    padding: 15px;
    font-size: 16px;
    border: 2px solid #555; 
    border-radius: 10px;
    background-color: #2b2b3e; 
    color: white;
 }

/* connection et inscription */
#pageInscription:hover, #pageConnection:hover{
    border-bottom: 3px solid rgb(0, 110, 255);
    color: rgb(49, 162, 255);
}

.myButton{
    background-color: transparent;
    border-radius: 15px;
    color: rgb(247, 0, 255);
    padding: 10px 20px 10px 20px;
    border: 2px solid #fc25f1; 
    cursor: pointer;
    transition: all 0.5s ease;
}

.myButton:hover{
    background-color:#fc25f1;
    color:white;
}

/* message */

/* js */
.active-tab{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    gap: 30px;
}

.desactive-tab{
    display: none;
    color: aliceblue;
    flex-direction: column;
    gap: 30px;
    
}